bazel-bin
bazel-multi-language-bazel-monorepo
bazel-out
bazel-testlogs

__pycache__

.idea

node_modules

.ijwb

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

